<!-- partials/footer.ejs -->
<footer>
	<p>&copy; 2025 My Spotify Playlist Downloader. All rights reserved.</p>
	<p><a href="/about" target="_blank">About</a> | <a href="https://github.com/arshwia" target="_blank">GitHub</a></p>
</footer>  