body {
    font-family: Nunito, Arial;
}

/* footer style */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* height: 40px; */
}

footer p {
    margin: 0;
    margin-top: 15px;
    color: #3be477;
    font-size: 19px;
}

footer p a {
    color: #3be477;
}

/* login , playlists-link styles */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: black;
}

.a-login {
    font-size: 25px;
    background-color: #3be477;
    color: black;
    padding: 15px 250px;
    border-radius: 100px;

    /* margin-left: 400px; */
}

/* playlist style */
ul li {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    margin: 15px 50px;

    color: #3be477;
}

ul li p {
    font-size: 27px;
}

.a-playlist {
    font-size: 25px;
    color: #3be477;
    border: none;
    background-color: #3be47600;

}

.body-teacks {
    background-color: black;
}

.body-teacks ol li {
    color: white;
    font-size: 27px;
    margin: 10px 55px;
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-teacks ol li .span .track-name a , .body-teacks ol li .span .artist-name a {
    margin-right: 5px;
    margin-left: 5px;
    color: #3be477;
}

.dow button {
    padding: 10px 110px;
    color: black;
    background-color: #3be477;
    border-radius: 100px;
    border: none;

    font-size: 17px;
}

/* embed */
.divEmbed {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

/* track file style */
.li-track-file {
    position: relative;
}

.track-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3be477;
    box-shadow: 5px, 5px, 5px, rgba(255, 255, 255, 0.4);
    width: 350px;
}

.hidden {
    display: none;
}

.track-info p {
    margin: 10px;
}

.track-info {
  position: absolute;
  background: #1e1e1e;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: 450px;
  font-size: 27px;
  line-height: 1.5;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

/* وقتی فعال بشه (بالا سمت راست) */
.track-info.show-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  z-index: 1000;
}

/* وقتی پنهان باشه */
.track-info.hidden {
  display: none;
}

/* لینک اسپاتیفای */
.track-info a {
  color: #1DB954;
  text-decoration: none;
  font-weight: bold;
}

.track-info a:hover {
  text-decoration: underline;
}

.info-btn {
    width: 70px;
    height: 27px;
    font-size: 15px;
    color: #fff;
    background-color: #1DB954;
    border: 0;
    border-radius: 50px;
}