<!DOCTYPE html>
<html>

<%- include('./partials/header') %>

    <body style="background-color: black; color: white;">
        <h1>امبدد پلی‌لیست</h1>

        <% tracks.forEach(track=> { %>
            <div style="margin-bottom: 20px;" class="divEmbed">
                <iframe 
                src="https://open.spotify.com/embed/track/<%= track.id %>" 
                 
                
                frameborder="0" 
                allowtransparency="true" 
                allow="encrypted-media">
                </iframe>
            </div>
        <% }) %>

    </body>

</html>