<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body class="body-login">
	<br>

	<div></div>

	<p>Authentication successful! Now go to <a href="/playlists" class="a-login">/playlists</a></p>

	<div></div>
	<%- include('./partials/footer') %>
</body>
</html>