<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body class="body-teacks">
	
	<ol>
		<% tracks.forEach(item => { %>
		  <li><%= item.track.name %> - <%= item.track.artists[0].name %></li>
		<% }) %>
	</ol>


	<%- include('./partials/footer') %>
</body>
</html>