<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body>
	
	<ul>
		<% tracks.forEach(item => { %>
		  <li><%= item.track.name %> - <%= item.track.artists[0].name %></li>
		<% }) %>
	</ul>


	<%- include('./partials/footer') %>
</body>
</html>